<h1>Listing view_tests</h1>

<table>
  <tr>
    <th>Text</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @view_tests.each do |view_test| %>
  <tr>
    <td><%= view_test.text %></td>
    <td><%= link_to 'Show', view_test %></td>
    <td><%= link_to 'Edit', edit_view_test_path(view_test) %></td>
    <td><%= link_to 'Destroy', view_test, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New View test', new_view_test_path %>
