<h1>Listing test_data</h1>

<table>
  <tr>
    <th>A</th>
    <th>T</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @test_data.each do |test_datum| %>
  <tr>
    <td><%= test_datum.a %></td>
    <td><%= test_datum.t %></td>
    <td><%= link_to 'Show', test_datum %></td>
    <td><%= link_to 'Edit', edit_test_datum_path(test_datum) %></td>
    <td><%= link_to 'Destroy', test_datum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Test datum', new_test_datum_path %>
