<p id="notice"><%= notice %></p>

<p>
  <b>A:</b>
  <%= @test_datum.a %>
</p>

<p>
  <b>T:</b>
  <%= @test_datum.t %>
</p>


<%= link_to 'Edit', edit_test_datum_path(@test_datum) %> |
<%= link_to 'Back', test_data_path %>
